.container {
    padding-top: 40px;
    .field {
        width: 100%;
    }
    .table {
        padding-top: 40px;
        table {
            width: 100%;
        }
    }
    .map {
        height: 100%;
    }
}